<event name="AnimalZombieWolf">
        <nominal>8</nominal>
        <min>4</min>
        <max>8</max>
        <lifetime>180</lifetime>
        <restock>0</restock>
        <saferadius>200</saferadius>
        <distanceradius>0</distanceradius>
        <cleanupradius>0</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>child</limit>
        <active>1</active>
        <children>
			<child lootmax="0" lootmin="0" max="5" min="1" type="Zombie_Wolf1"/>
            <child lootmax="0" lootmin="0" max="7" min="1" type="Zombie_Wolf2"/>
            <child lootmax="0" lootmin="0" max="2" min="1" type="Zombie_Wolf3"/>
            <child lootmax="0" lootmin="0" max="1" min="1" type="Zombie_Wolf4"/>               
            <child lootmax="0" lootmin="0" max="4" min="1" type="Zombie_Wolf5"/>  
       </children>
 </event>
